<html>
  <head>
    <title>CAUGHT</title>
    <style>
      body {
      background-color: black;
      color: red;
      text-align: center;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
  </head>
  <body>
    <img align="center" src="https://vignette.wikia.nocookie.net/megamitensei/images/5/54/Metaverse_Navigator.png/revision/latest/scale-to-width-down/250?cb=20170310213652">
    <h4>Hello {{crime.Crime_name}}</h4>
    <p>IP: {{IP}}</p>
    {% autoescape on %}
    <p>
      {{crime.Crime_desc}}
    </p>
    {% endautoescape %}
    <p>your info (sorry for the bad formating, limitations on django did this<br>Some info may be off, but your IP is all thats needed to make a report):<br><br>{{info}}</p>
    <p>Belive this to be a mistake, tell us bellow</p>
    <form action="/pled/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Submit">
    </form>
    <footer>
      <p>IP logger by <a href="raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</html>
